.email{
    background-color: rgb(90, 90, 90);
    padding: 8rem 0;

    &__content {
        width: 70%; 
        background-color: rgb(177, 177, 177);
        margin: 0 auto;
        padding: 4rem 2rem;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.404);
        border-radius: 5px;

        @include phone {
            padding: 2rem 0;
        }

       &--info{
           width: 70%;
           background-color: white;
           padding: 4rem 2rem;
           margin: 0 auto;
           box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.404);
           border-radius: 5px;

           @include phone {
               padding: 2rem 0;
           }
       }
    }

    &__title {
        color: rgb(0, 44, 44);
        font-size: 2rem;
        text-align: center;

        @include phone {
            font-size: 1rem;;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;

        @include phone {
            width: 60%;
        }
    }

    &__input {
        margin-bottom: 1.2rem;
        padding: 0.8rem 1rem;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.404);
        border: none;
        border-radius: 5px;
    }

  
}