.history {
    padding: 1rem 2rem 1rem 0;

    &__content {
        display: flex;

        @include phone{
            display: flex;
            flex-direction: column;
        }
    }

    &__img--container {
        width: 50%;
        background-image: linear-gradient(rgba(0, 44, 44, 0.281), rgba(0, 44, 44, 0.555)) ,url(./images/headerbackground.jpg);
        margin-right: 2rem;
        margin-left: 2rem;
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);

        @include phone {
            width: 30rem;
            height: 30rem;
            margin: 0 auto;
            background-size: cover;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            background-image: url(/images/headerbackground.jpg);
        }
    }


    &__text {
        width: 50%;

        @include phone {
            width: 100%;
            align-items: center;
        }

    }

    &__title {
        margin-top: 0;
        font-size: 1.6rem;
        color: rgb(0, 44, 44);


        @include phone {
            margin: 0 auto;
        }
    }
}

.history__desc {
        font-size: 1.2rem;
        color: rgb(0, 44, 44);
        line-height: 1.6rem;
        margin-bottom: 2rem;

        @include phone {
            text-align: center;
            display: inline-block;
        }
        
}
