body {
  padding: 0;
  margin: 0; }

.nav {
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.452);
  padding: 0.6rem 0; }
  .nav__content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 630px) {
      .nav__content {
        flex-direction: column; } }
  .nav__list {
    display: flex;
    list-style: none; }
  .nav__item {
    margin: 0 1.2rem; }
  .nav__link {
    text-decoration: none;
    color: black; }

.logo {
  width: 5rem;
  height: 5rem;
  border-radius: 50%; }

.header__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #002c2c;
  padding: 1rem 0; }
  @media only screen and (max-width: 630px) {
    .header__box {
      flex-direction: column;
      padding: 2rem 0; } }

.header__icons i {
  color: #c7c7c7;
  font-size: 2rem;
  margin-right: 1rem; }

.header__form input {
  border: none;
  border-radius: 10px;
  padding: 0.8rem 4rem;
  justify-content: center;
  align-items: center; }

@media only screen and (max-width: 630px) {
  .header__form {
    margin: 1.2rem 0; } }

.header {
  background-image: linear-gradient(rgba(0, 44, 44, 0.281), rgba(0, 44, 44, 0.555)), url(./../images/headerbackground.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  .header__hero-content {
    width: 50%;
    text-align: center;
    padding: 1rem 0;
    margin: 0 auto;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__title {
    font-size: 3rem;
    color: white; }
    @media only screen and (max-width: 630px) {
      .header__title {
        margin: 6rem 0 0; } }
  .header__description {
    font-size: 1.1rem;
    color: white;
    margin-bottom: 3rem; }

.about {
  width: 80%;
  margin: -4rem auto 0 auto;
  background-color: #002c2c;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.404);
  padding: 2rem 2.5rem; }
  .about__content {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 630px) {
      .about__content {
        flex-direction: column; } }
    .about__content i {
      font-size: 7rem;
      color: #c7c7c7; }
      @media only screen and (max-width: 630px) {
        .about__content i {
          margin-bottom: 4rem; } }

.categories {
  padding: 4rem 2rem; }
  @media only screen and (max-width: 630px) {
    .categories {
      display: flex;
      flex-direction: column; } }
  .categories__left {
    width: 70%;
    height: 100%; }
    @media only screen and (max-width: 630px) {
      .categories__left {
        width: 100%; } }
    .categories__left--topRow {
      justify-content: space-between; }
      @media only screen and (max-width: 630px) {
        .categories__left--topRow {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 auto; } }
    .categories__left--bottomRow {
      padding: 1rem 1.2rem; }
      @media only screen and (max-width: 630px) {
        .categories__left--bottomRow {
          display: flex;
          flex-direction: column;
          align-items: center; } }
  .categories__right {
    width: 30%;
    height: 100%;
    margin-left: 3rem; }
    @media only screen and (max-width: 630px) {
      .categories__right {
        width: 100%;
        margin: 2rem auto; } }

.row {
  display: flex; }

.category {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.404);
  overflow: hidden;
  position: relative;
  padding: 0 0 1.2rem 0;
  margin-bottom: 1.2rem; }
  .category__row {
    width: 30%; }
    @media only screen and (max-width: 630px) {
      .category__row {
        width: 80%;
        margin: 2rem 0; } }
  .category__col {
    width: 100%; }
  .category__img--container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: #002c2c;
    width: 100%;
    height: 100%; }
  .category__img {
    width: 100%;
    height: 100%;
    opacity: 0.3; }
  .category__text {
    z-index: 15;
    position: relative;
    padding: 0.5rem;
    text-align: center; }
  .category__title {
    font-size: 1.3rem; }
    .category__title--main {
      color: #c7c7c7; }
    .category__title--one {
      color: #002c2c; }
  .category__description {
    margin-bottom: 1.2rem; }
    .category__description--main {
      color: #c7c7c7; }
    .category__description--one {
      color: #002c2c; }
  .category__rating {
    margin-bottom: 1.2rem; }
  .category__icon {
    color: #ffd000;
    font-size: 1.2rem; }

.bottomRow--img {
  width: 30%;
  margin-right: 2rem;
  overflow: hidden; }
  @media only screen and (max-width: 630px) {
    .bottomRow--img {
      width: 100%; } }

.category__content--text {
  width: 60%; }
  @media only screen and (max-width: 630px) {
    .category__content--text {
      width: 100%;
      align-items: center; } }

.history {
  padding: 1rem 2rem 1rem 0; }
  .history__content {
    display: flex; }
    @media only screen and (max-width: 630px) {
      .history__content {
        display: flex;
        flex-direction: column; } }
  .history__img--container {
    width: 50%;
    background-image: linear-gradient(rgba(0, 44, 44, 0.281), rgba(0, 44, 44, 0.555)), url(./../images/headerbackground.jpg);
    margin-right: 2rem;
    margin-left: 2rem;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%); }
    @media only screen and (max-width: 630px) {
      .history__img--container {
        width: 30rem;
        height: 30rem;
        margin: 0 auto;
        background-size: cover;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        background-image: url(/images/headerbackground.jpg); } }
  .history__text {
    width: 50%; }
    @media only screen and (max-width: 630px) {
      .history__text {
        width: 100%;
        align-items: center; } }
  .history__title {
    margin-top: 0;
    font-size: 1.6rem;
    color: #002c2c; }
    @media only screen and (max-width: 630px) {
      .history__title {
        margin: 0 auto; } }

.history__desc {
  font-size: 1.2rem;
  color: #002c2c;
  line-height: 1.6rem;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 630px) {
    .history__desc {
      text-align: center;
      display: inline-block; } }

.reviews {
  padding: 4rem 4rem;
  border: 1px solid #002c2c;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.404);
  margin-top: 3rem; }
  .reviews__content {
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (max-width: 630px) {
      .reviews__content {
        flex-direction: column; } }

.review {
  border: 1px solid #002c2c;
  width: 48.5%;
  padding: 0.7rem 1rem;
  margin: 0.5rem;
  box-sizing: border-box; }
  @media only screen and (max-width: 630px) {
    .review {
      width: 100%; } }
  .review__user {
    display: flex;
    align-items: center; }
  .review__img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .review__title {
    margin: 0 0 0.4rem 0;
    color: #002c2c;
    font-weight: 200;
    font-size: 1.4rem; }
  .review__location {
    margin: 0; }
  .review__icon {
    color: #002c2c;
    font-size: 1.1rem; }
  .review__text {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #002c2c; }

.products {
  padding: 8rem 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/glitter.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  .products__content {
    display: flex;
    justify-content: space-around; }
    @media only screen and (max-width: 630px) {
      .products__content {
        flex-direction: column;
        align-items: center; } }

.product {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.404);
  width: 20%; }
  @media only screen and (max-width: 630px) {
    .product {
      width: 80%;
      margin: 1rem 0; } }
  .product__img--container {
    height: 9rem;
    width: 100%; }
  .product__img {
    height: 100%;
    width: 100%; }
  .product__text {
    padding: 1rem 1rem 3rem 1rem;
    background-color: #a1a1a1;
    position: relative; }
  .product__title {
    color: #002c2c;
    margin: 0; }
  .product__author {
    color: #002c2c;
    font-size: 0.7rem;
    margin-top: 0.4rem; }
  .product__info {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .product__icon {
    color: #003636; }
  .product__price {
    font-weight: bold;
    color: #002c2c; }

.email {
  background-color: #5a5a5a;
  padding: 8rem 0; }
  .email__content {
    width: 70%;
    background-color: #b1b1b1;
    margin: 0 auto;
    padding: 4rem 2rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.404);
    border-radius: 5px; }
    @media only screen and (max-width: 630px) {
      .email__content {
        padding: 2rem 0; } }
    .email__content--info {
      width: 70%;
      background-color: white;
      padding: 4rem 2rem;
      margin: 0 auto;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.404);
      border-radius: 5px; }
      @media only screen and (max-width: 630px) {
        .email__content--info {
          padding: 2rem 0; } }
  .email__title {
    color: #002c2c;
    font-size: 2rem;
    text-align: center; }
    @media only screen and (max-width: 630px) {
      .email__title {
        font-size: 1rem; } }
  .email__form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto; }
    @media only screen and (max-width: 630px) {
      .email__form {
        width: 60%; } }
  .email__input {
    margin-bottom: 1.2rem;
    padding: 0.8rem 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.404);
    border: none;
    border-radius: 5px; }

.footer {
  padding: 4rem;
  background-color: #002c2c;
  border: 1px solid rgba(0, 0, 0, 0.404);
  display: flex;
  justify-content: space-around; }
  @media only screen and (max-width: 630px) {
    .footer {
      flex-direction: column;
      align-items: center;
      justify-content: center; } }
  .footer__list {
    list-style: none; }
    @media only screen and (max-width: 630px) {
      .footer__list {
        /* border: 1px solid rgb(161, 161, 161); */ } }
  .footer__item {
    margin: 0.5rem 0;
    font-size: 1.2rem; }
  .footer__link {
    text-decoration: none;
    color: white; }

.header__link {
  text-decoration: none;
  background: white;
  color: black;
  padding: 1rem 1.2rem;
  border-radius: 4px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.404); }

.header__button {
  padding: 0.7rem 1rem;
  border-radius: 2px;
  text-decoration: none; }

.header__border {
  border: 1px solid #c7c7c7;
  color: #c7c7c7; }

.header__solid {
  background-color: #c7c7c7;
  color: #002c2c; }

.category__btn {
  margin-top: 1.2rem;
  text-decoration: none;
  color: #c7c7c7;
  background-color: #002c2c;
  padding: 0.6rem 1rem;
  border-radius: 10px; }

.history__btn {
  padding: 1rem 1rem;
  text-decoration: none;
  background-color: #002c2c;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.404);
  border-radius: 10px;
  color: #c7c7c7;
  align-items: center; }

.product__btn {
  background-color: #002c2c;
  color: #a1a1a1;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block;
  position: absolute;
  right: 7px;
  bottom: 7px;
  border: 1px solid black;
  border-radius: 10px; }

.email__btn {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.404);
  border-radius: 10px;
  padding: 0.7rem 1rem;
  width: 10rem;
  margin: 0 auto;
  background-color: #002c2c;
  color: white; }
